@charset "UTF-8";

/*
Author: Eric Morgan
Date: 1/30/21
*/


/* html and body section */
/* large and wide background image to cover entire back of page
Scrolls only where necessary*/
html {
  background-image: url(background.jpg);
  width: 100%;
  height: 950px;
  overflow: auto;
}

/* Smaller background image to fill body background, non-repeating, with a black
border all around */
body {
  width: 75%;
  height: 100%;
  margin: auto;
  background-image: url(background2.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  border: 1px solid black;
}

/* Centers body img pushing it down the page by 25px */
body img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
}

/* Larger text and smaller margins and padding for readability, gray background
low opacity */
article p {
  font-size: 15pt;
  font-family: 'Roboto Condensed', Verdana, sans-serif;
  padding-left: 50px;
  padding-right: 50px;
  margin: auto;
  background-color: rgba(192, 192, 192, 0.6);
}

/* Tighter margins for easier readability */
p {
  margin: 10px 30px 10px 0;
}

/* h1 and h2 pushed away from side of page with an easy to read font*/
h1, h2 {
  padding-left: 20px;
  font-family: 'Roboto Condensed', Verdana, sans-serif;
}

/* Text within div font becomes Roboto Condensed unless unavailable*/
div {
  font-family: 'Roboto Condensed', Verdana, sans-serif;
}

/*Nav Section */
/* Gets rid off ul points, hides overflow, teal background-color */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3C887E;
}

/* floats each li left */
li {
  float: left;
}

/* displays nav as block element, white text, centered, with padding to fill
and no text-decoration */
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* On hover, nav text turns purple and gets a lighter background-color with an
 underline */
li a:hover {
  background-color: #DDDBF1;
  color: #731963;
  text-decoration: underline;
}

/* Products Section */
/* Selects all elements and sets their box-sizing to border-box for more uniform
look */
* {
  box-sizing: border-box;
}

/* Styles the menu items into four equal boxes side by side with non-intense colors
 and 12pt font */
.column {
  float: left;
  width: 25%;
  padding: 10px;
  background-color: white;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
  font-size: 12pt;
  height: 375px;
}

/* Adds each box on each clear space to the left in a table format */
.row1::after {
  content: "";
  clear: both;
  display: table;
}

/* Div images are keep 95% of their width to accomodate text*/
div img {
  width: 95%;
}

/* selects p around guac ad, centered and 18pt font */
#guac p {
  text-align: center;
  font-size: 18pt;
}

/*Footer section */

/* page-long footer, centered, moved down relative to page body,
 padding to move text farther from left side of body */
body>footer address {
  position: absolute;
  text-align: center;
  top: 900px;
  background-color: #3C887E;
  color: white;
  width: 75%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  font-variant: small-caps;
}
